.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #af2896, #509bf5);
    font-family: var(--font-dm-sans);
  }
  
  .footer__text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .footer__text .text {
    padding-bottom: 10px;
    color: #fff;
    font-size: 14px;
  }
  
  .footer__text .title {
    font-weight: 700;
  }
  
  .footer__text .subtitle {
    font-weight: 500;
  }
  
  .footer__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 20px;
    width: 200px;
  }
  