h1 {
  color: #fff;
  font-weight: 800;
  font-size: 40px;
}

h2 {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

body {
  background-color: #000;
}

h1, h2, h3, a span {
  font-family: var(--font-dm-sans);
}

